body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app h1{
    text-align: center;
}
.balance-container #balance{
    font-size: center;
}
h2{
    text-transform: uppercase;
}
.cashflow-container{
    display: flex;
}